ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.topnav {
width: 100%;
background-color: whitesmoke;
overflow: auto; 
}

.topnav a {
    float: left;
    text-align: center;
    padding: 10px; 
    color: black;
    font-size: 15px;
}

.topnav a:hover {
    background-color: grey; 
}



@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block; 
    }
}